@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
body {
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
#three-canvas {
	/* display: none; */
	position: fixed;
	left: 0;
	top: 0;
	/* z-index: 3; */
}
.sections{
	position: relative;
	z-index: 5;
}
.section{
	/* border-top:2px solid green; */
	box-sizing: border-box;
	padding: 5rem;
	height: 100vh;
	font-size: 2rem;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.section h3 {
	font-weight: 500;
}
.section .text-box{
	width: 70%;
	height: 50%;
	max-width: 800px;
	max-height: 250px;
	overflow: scroll;
}

.section .text-box p{
	font-size: 14px;
}



#pop-wrap{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
}
#popup{

	/* display: none; */
	position: relative;
	width: 80vmin;
	height: 80vmin;
	background: white;
	object-fit: contain;

}
#popup #btn-close {
	position: absolute;
	padding: 20px 30px;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
}
#popup #btn-call {
	position: absolute;
	top: -40px;
	left: 20px;
}
#popup img{
	width: 80vmin;
	height: 80vmin;
}
